altgraph
asn1crypto
bdist-mpkg
cryptography
enum34
future
ipaddress
macholib
matplotlib
modulegraph
numpy
pip-autoremove
py2app
pycparser
Pygments
pyOpenSSL
pyparsing
python3-dev
python-dateutil
pytz
scipy
six
xattr

Flask~=1.0.3